body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.img-navbar {
    height:25px;
    width:auto;
    max-width: 100%;
}
.tile-list .list-item {
    /* This is the code responsible for the centering of content */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;

    -webkit-flex-line-pack:center;
	-ms-flex-line-pack:center;
	-webkit-align-content:center;
	align-content:center;

    -webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;

    text-align: center;
    width: 175px;
    height: 175px;

    margin: 0 1em 1em 0;
    padding: 1em;

    border: 2px solid #777;
    color: #777;
    font-size: 1.2em;
}
.tile-list {
   /* This lines the li's up in a row and will wrap them under each other */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;

    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;

    justify-content: center;
}
.list-item:hover{
    background: #4ecec4;
    border: none;
    color: #fff;
}
.tile-list a:focus, .tile-list a:hover {
    text-decoration: none;
}
.form-group {
    border: none;
}
.form-group label {
    color: #4ecec4;
    font-size: 2.1em;
    font-weight: normal;
}
.form-group small {
    padding: 0.25em 0 0.25em 0;
    font-size: 1.25em;
}
input[type=text], input[type=email], input[type=number] {
    border: 2px dashed #4ecec4;
    height: 2em;
    font-size: 1.75em;
}
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
    border-bottom: 4px solid rgb(255, 0, 153);
    outline: none;
    box-shadow: none;
}
label.btn span {
  font-size: 1.75em ;
}
input[type=radio], input[type=checkbox] {
  display: none;
}
label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #4ecec4;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-check-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
    color: #4ecec4;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #4ecec4;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #4ecec4;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #4ecec4;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #4ecec4;
}

div[data-toggle="buttons"] label.active{
    color: #4ecec4;
}

div[data-toggle="buttons"] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #888;
  border-radius: 3px;
  color: #888;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div[data-toggle="buttons"] label:hover {
  color: #4ecec4;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-special {
    background: #4ecec4;
    color: #fff;
    font-size: 2.0em;
}
.btn-special:hover {
    background: #217871;
    color: #fff;
}
.required ~ .require-text {
  display: none;
}
input.required:focus ~ .require-text {
  display: inline;
}
